<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmc.shopleasing.dao.BoothStatisticsMapper">
  <resultMap id="BaseResultMap" type="com.lmc.shopleasing.entity.BoothStatistics">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="statistics_date" jdbcType="DATE" property="statisticsDate" />
    <result column="week" jdbcType="VARCHAR" property="week" />
    <result column="renting_count" jdbcType="INTEGER" property="rentingCount" />
    <result column="free_count" jdbcType="INTEGER" property="freeCount" />
    <result column="expiring_count" jdbcType="INTEGER" property="expiringCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>