<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmc.shopleasing.dao.LesseeMapper">
  <resultMap id="BaseResultMap" type="com.lmc.shopleasing.entity.Lessee">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="legal_representative" jdbcType="VARCHAR" property="legalRepresentative" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="phon" jdbcType="VARCHAR" property="phon" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="del_flag" jdbcType="BIT" property="delFlag" />
  </resultMap>
</mapper>